root = true
# EditorConfig is awesome: http://EditorConfig.org


[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

# ReSharper properties
resharper_csharp_indent_method_decl_pars = none
resharper_csharp_max_line_length = 190
resharper_csharp_wrap_lines = false
resharper_indent_primary_constructor_decl_pars = none
resharper_keep_existing_linebreaks = false
resharper_use_continuous_indent_inside_parens = false

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
trim_trailing_whitespace = false

[*cpp]
indent_style = tab
indent_size = 4
end_of_line = crlf

[*h]
indent_style = tab
indent_size = 4
end_of_line = crlf

[*hpp]
indent_style = tab
indent_size = 4
end_of_line = crlf
